html{
  font-size: 15px;
}

body{
  background-color: black;
  color: whitesmoke;
}

.canle{
  background-color: black;
  color: whitesmoke;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

h1{
  text-align: center;
  color: white;
}

.container {
  width: 80%;
  margin: auto;
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    font-size: 14px;
    background-color: white;
    color: black;
  }
}